.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
semantic/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
congJSON.json
.vscode/launch.json
promises/jisaJSONFormatted.json
src/store/p.js
src/components/PersonalizedPromises - Copy.vue
src/components/NewPromiseDetail.vue
package-lock.json
semantic.json
promises/congJSONFormatted.json
promises/JSONConvert.py
promises/cong_tagged.json
